ipykernel
numpy
pandas
matplotlib
seaborn
flask
streamlit
spacy
nltk
langchain
python-dotenv
langchain-community
pypdf
beautifulsoup4
langchain-text-splitters
langchain-openai
chromadb
faiss-cpu
langchain-groq
langchain-core
fastapi
uvicorn
langserve
pydantic
transformers
langchain-chroma
bs4
huggingface
huggingface-hub
